In [0]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
data = pd.read_csv('/content/gdrive/My Drive/bank (1).csv')

In [4]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [0]:
#Seperating features and output as array

In [0]:
X = data.iloc[:, 3:13].values

In [0]:
y = data.iloc[:, 13].values

In [13]:
print (X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [14]:
print (y)

[1 0 1 ... 1 1 0]

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [0]:
Xt = LabelEncoder()

In [0]:
X[:, 1] = Xt.fit_transform(X[:, 1])

In [0]:
Xt2 = LabelEncoder()

In [0]:
X[:, 2] = Xt2.fit_transform(X[:, 2])

In [21]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

since geography  and gender cannot be converted to float while doing a fit transform we are converting the geography into a categorical varible

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
sc = StandardScaler()

In [0]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [29]:
model = Sequential()
model.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))
model.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
model.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  after removing the cwd from sys.path.

In [30]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

W0904 00:28:12.453171 140317550184320 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0904 00:28:12.480992 140317550184320 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

W0904 00:28:12.486943 140317550184320 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [31]:
model.fit(X_train, y_train, batch_size = 32, nb_epoch = 50)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.
W0904 00:28:51.217369 140317550184320 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/50
8000/8000 [==============================] - 1s 125us/step - loss: 0.6293 - acc: 0.7934
Epoch 2/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.4534 - acc: 0.7960
Epoch 3/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.4254 - acc: 0.7995
Epoch 4/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.4076 - acc: 0.8142
Epoch 5/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3958 - acc: 0.8185
Epoch 6/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3888 - acc: 0.8194
Epoch 7/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3842 - acc: 0.8195
Epoch 8/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3801 - acc: 0.8196
Epoch 9/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3764 - acc: 0.8199
Epoch 10/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3735 - acc: 0.8195
Epoch 11/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3703 - acc: 0.8229
Epoch 12/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3677 - acc: 0.8365
Epoch 13/50
8000/8000 [==============================] - 0s 38us/step - loss: 0.3650 - acc: 0.8429
Epoch 14/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3622 - acc: 0.8459
Epoch 15/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3603 - acc: 0.8481
Epoch 16/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3587 - acc: 0.8496
Epoch 17/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3570 - acc: 0.8511
Epoch 18/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3558 - acc: 0.8527
Epoch 19/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3545 - acc: 0.8534
Epoch 20/50
8000/8000 [==============================] - 0s 40us/step - loss: 0.3537 - acc: 0.8546
Epoch 21/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3526 - acc: 0.8556
Epoch 22/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3520 - acc: 0.8558
Epoch 23/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3512 - acc: 0.8578
Epoch 24/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3506 - acc: 0.8576
Epoch 25/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3499 - acc: 0.8574
Epoch 26/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3496 - acc: 0.8575
Epoch 27/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3494 - acc: 0.8568
Epoch 28/50
8000/8000 [==============================] - 0s 40us/step - loss: 0.3484 - acc: 0.8586
Epoch 29/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3481 - acc: 0.8595
Epoch 30/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3475 - acc: 0.8586
Epoch 31/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3472 - acc: 0.8591
Epoch 32/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3471 - acc: 0.8582
Epoch 33/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3464 - acc: 0.8585
Epoch 34/50
8000/8000 [==============================] - 0s 40us/step - loss: 0.3465 - acc: 0.8594
Epoch 35/50
8000/8000 [==============================] - 0s 41us/step - loss: 0.3462 - acc: 0.8587
Epoch 36/50
8000/8000 [==============================] - 0s 38us/step - loss: 0.3457 - acc: 0.8599
Epoch 37/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3453 - acc: 0.8590
Epoch 38/50
8000/8000 [==============================] - 0s 38us/step - loss: 0.3454 - acc: 0.8605
Epoch 39/50
8000/8000 [==============================] - 0s 38us/step - loss: 0.3449 - acc: 0.8591
Epoch 40/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3447 - acc: 0.8585
Epoch 41/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3445 - acc: 0.8595
Epoch 42/50
8000/8000 [==============================] - 0s 39us/step - loss: 0.3445 - acc: 0.8606
Epoch 43/50
8000/8000 [==============================] - 0s 35us/step - loss: 0.3443 - acc: 0.8595
Epoch 44/50
8000/8000 [==============================] - 0s 39us/step - loss: 0.3439 - acc: 0.8598
Epoch 45/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3435 - acc: 0.8595
Epoch 46/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3439 - acc: 0.8592
Epoch 47/50
8000/8000 [==============================] - 0s 37us/step - loss: 0.3436 - acc: 0.8596
Epoch 48/50
8000/8000 [==============================] - 0s 39us/step - loss: 0.3433 - acc: 0.8591
Epoch 49/50
8000/8000 [==============================] - 0s 36us/step - loss: 0.3429 - acc: 0.8605
Epoch 50/50
8000/8000 [==============================] - 0s 39us/step - loss: 0.3429 - acc: 0.8604

In [37]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_5 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [38]:
model.evaluate(X_train,y_train)

8000/8000 [==============================] - 0s 18us/step

[0.34146251165866853, 0.86075]

In [39]:
model.evaluate(X_test,y_test)

2000/2000 [==============================] - 0s 24us/step

[0.34038028240203855, 0.857]

In [0]:
y_pred = model.predict_classes(X_test)

In [52]:
print(y_pred)

[[0]
 [0]
 [0]
 ...
 [0]
 [0]
 [0]]

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
cm = confusion_matrix(y_test, y_pred)

In [55]:
print(cm)

[[1510   85]
 [ 201  204]]

In [0]:
from sklearn import metrics

In [57]:
cr=metrics.classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.88      0.95      0.91      1595
           1       0.71      0.50      0.59       405

    accuracy                           0.86      2000
   macro avg       0.79      0.73      0.75      2000
weighted avg       0.85      0.86      0.85      2000