In [19]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power
from scipy import stats

In [2]:
ins_data = pd.read_csv("data.csv")
ins_data.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [41]:
print("Answer 1")
print('Mean Old Scheme',ins_data["Old Scheme (in thousands)"].mean()*1000)
print('Mean New Scheme',ins_data["New Scheme (in thousands)"].mean()*1000)

Answer 1
Mean Old Scheme 68033.33333333333
Mean New Scheme 72033.33333333333

In [26]:
#Ho = Data is normal
#Ha = Data is not normal
shapiro(ins_data["New Scheme (in thousands)"])

(0.9687567353248596, 0.5057420134544373)

In [35]:
#Ho = Mean of New Scheme is equal to Mean of Old Scheme
#Ha = Mean of New Scheme is greater than mean of old scheme
results = stats.ttest_ind(ins_data["New Scheme (in thousands)"],ins_data["Old Scheme (in thousands)"], equal_var=False)
print("Answer 2")
print(results)

Answer 2
Ttest_indResult(statistic=0.6937067608923764, pvalue=0.4907066557404972)

In [36]:
print("Answer 3")
alpha = 0.05
if (results[0] > 0) & (results[1]/2 < alpha):
    print("Reject Ho, Mean of New Scheme is greater than mean of old scheme")
else:
    print("Accept Ho, Mean of New Scheme is equal to Mean of Old Scheme")

Answer 3
Accept Ho, Mean of New Scheme is equal to Mean of Old Scheme

In [37]:
from scipy.stats import levene, shapiro, f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd, MultiComparison
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [42]:
target = ins_data["Old Scheme (in thousands)"].mean()+5
target

73.03333333333333

In [50]:
# Target = 73.033333 (In Thousands)
#Ho = Mean of New Scheme is equal to target
#Ha = Mean of New Scheme is different from target
t_statistic, p_value = ttest_1samp(ins_data["New Scheme (in thousands)"], target)
print(t_statistic,p_value)

-0.22762595274354191 0.8215342661375444

In [51]:
print('Answer 4(a) the probability of Type I error is 5%')
print('Answer 4(b) p- value of the hypothesis test if we test for a difference of $5000 =',p_value)

Answer 4(a) the probability of Type I error is 5%
Answer 4(b) p- value of the hypothesis test if we test for a difference of $5000 = 0.8215342661375444

In [52]:
print('Answer 4(c)Power of the test')
j=(np.mean(ins_data["New Scheme (in thousands)"]) - target) / np.std(ins_data["New Scheme (in thousands)"])
print(ttest_power(j, nobs=30, alpha=0.05, alternative='two-sided'))

Answer 4(c)Power of the test
0.05576508681893363